* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(240, 242, 248);
    color: rgb(40, 40, 40);
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 35px;
}

header h1 {
    font-size: 36px;
    color: rgb(32, 32, 53);
    margin-bottom: 10px;
}

header p {
    color: rgb(82, 81, 81);
}

/* Summary */
.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid;
}

.card h3 {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 28px;
    font-weight: bold;
}

.balance {
    border-color: rgb(72, 72, 250);
}

.balance h2 {
    color: rgb(72, 72, 250);
}

.income {
    border-color: rgb(51, 140, 73);
}

.income h2 {
    color: rgb(51, 140, 73);
}

.expense {
    border-color: rgb(246, 53, 53);
}

.expense h2 {
    color: rgb(246, 53, 53);
}

/* Form */
.form_section,
.transaction_section {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.form_section h2,
.transaction_section h2 {
    margin-bottom: 20px;
    color: rgb(32, 32, 53);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(62, 62, 81);
}

.form_group input,
.form_group select,
#search {
    padding: 12px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

.form_group input:focus,
.form_group select:focus,
#search:focus {
    border-color: rgb(72, 72, 250);
    box-shadow: 0 0 3px rgba(72, 72, 250, 0.5);
}

form button {
    grid-column: span 2;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: rgb(81, 81, 244);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    background: rgb(51, 51, 200);
    transform: translateY(-2px);
}

form button:active {
    transform: translateY(0);
}

/* Transaction header */
.transaction_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.transaction_header h2 {
    margin-bottom: 0;
}

#search {
    width: 280px;
}

/* Transaction */

.empty_message {
    text-align: center;
    color: #9ca3af;
    padding: 30px;
}

.transaction_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border: 1px solid rgb(209, 209, 221);
    border-radius: 10px;
    transition: 0.2s;
}

.transaction:hover {
    background: rgb(243, 244, 244);
}

.transaction_info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.transaction_icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
}

.transaction_icon.income {
    background: rgb(192, 248, 213);
    color: rgb(2, 107, 41);
    border: none;
}

.transaction_icon.expense {
    background: rgb(243, 220, 220);
    color: rgb(216, 30, 30);
    border: none;
}

.transaction_details h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.transaction_details p {
    color: gray;
    font-size: 13px;
}

.transaction_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.transaction_amount {
    font-size: 17px;
    font-weight: bold;
}

.transaction_amount.income {
    color: rgb(18, 180, 18)
}

.transaction_amount.expense {
    color: rgb(224, 52, 52)
}

.delete_btn {
    border: none;
    background: rgb(243, 220, 220);
    color: rgb(216, 30, 30);
    width: 35px;
    height: 35px;
    border-radius: 7px;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.delete_btn img{
    width: 18px;
    color:white;
    /* text-align: center; */
}

.delete_btn:hover {
    background: rgb(247, 182, 182);
    transform: scale(105%);
}